.wrapper {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    background-color: #07ade2;
}

.container{
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.container *{
    color: black;
    font-weight: 500;
}

.skillSvg {
    height: 100px;
    width: 100px;
    background-color: #fff7e8;
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 4px;
}